#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_auto_test:
	# keep in sync with debian/tests/run-tests
	# bash and dash is always available on Debian build environment
	./test_runner -s'/bin/bash /bin/dash /bin/ksh /bin/mksh /bin/zsh'\
		      -tshunit2_args_test.sh
	./test_runner -s'/bin/bash /bin/dash /bin/ksh /bin/mksh /bin/zsh'\
		      -tshunit2_asserts_test.sh
	./test_runner -s'/bin/bash /bin/dash /bin/ksh /bin/mksh /bin/zsh'\
		      -tshunit2_failures_test.sh
	./test_runner -s'/bin/bash /bin/dash /bin/ksh /bin/mksh /bin/zsh'\
		      -tshunit2_macros_test.sh
	# Test this only for bash to avoid errors
	./test_runner -s'/bin/bash'\
		      -tshunit2_misc_test.sh
	./test_runner -s'/bin/bash /bin/dash /bin/ksh /bin/mksh /bin/zsh'\
		      -tshunit2_standalone_test.sh
